<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.planosemeador.planosemeador">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComoFuncionaActivity"
            android:label="@string/title_activity_como_funciona"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SobreNosActivity"
            android:label="@string/title_activity_sobre_nos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultadoDaBuscaActivity"
            android:label="@string/title_activity_resultado_da_busca"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrasopolisActivity"
            android:label="@string/title_activity_brasopolis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PiranguinhoActivity"
            android:label="@string/title_activity_piranguinho"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MariaDaFeActivity"
            android:label="@string/title_activity_maria_da_fe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DelfimMoreiraActivity"
            android:label="@string/title_activity_delfim_moreira"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssistenciaActivity"
            android:label="@string/title_activity_assistencia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SorteiosActivity"
            android:label="@string/title_activity_sorteios"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>